@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sky-300: #2DBCDA;
}

body, #app {
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
}

.aspect-ratio-square { 
    aspect-ratio: 1 / 1;
}
