@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';
@import '/node_modules/flowbite-vue/dist/index.css';

:root {
    --sky-300: #2DBCDA;
}

body, #app {
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
}

.aspect-ratio-square { 
    aspect-ratio: 1 / 1;
}
